aiofiles==24.1.0
anyio==3.7.1
asttokens==3.0.0
backcall==0.2.0
boto3==1.26.105
botocore==1.29.165
cassandra-driver==3.29.2
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
colorama==0.4.6
comm==0.2.2
contourpy==1.1.1
cycler==0.12.1
database-connect==0.1.66
dataclasses==0.6
debugpy==1.8.14
decorator==5.2.1
dill==0.3.5.1
dnspython==2.2.1
ensure==1.0.4
evidently==0.1.58.dev0
exceptiongroup==1.2.2
executing==2.2.0
PyYAML==5.4.1
# -e 